#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Prestigious Configuration
########################################
#
#    Prestigious.Enable
#        Description: Enable/disable the prestigious module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Enable = 0

#
#    Prestigious.Debug
#        Description: Enable debug messages in console.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Debug = 0

#
#   Prestigious.Delete.Inventory
#        Description: Deletes inventory items when prestiging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Delete.Inventory = 0

#
#   Prestigious.Delete.Inventory.Bags
#        Description: Deletes inventory bag items when prestiging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Delete.Inventory.Bags = 0

#
#   Prestigious.Delete.BuyBack
#        Description: Deletes items from the vendor buyback tab when prestiging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Delete.BuyBack = 0

#
#   Prestigious.Delete.KeyRing
#        Description: Deletes items from the key ring when prestiging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Delete.KeyRing = 0

#
#   Prestigious.Delete.Bank
#        Description: Deletes items from the bank when prestiging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Delete.Bank = 0

#
#   Prestigious.Delete.Bank.Bags
#        Description: Deletes items from the bank bags when prestiging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Delete.Bank.Bags = 0

#
#   Prestigious.Unlearn.Professions
#        Description: Unlearns profession spells when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Unlearn.Professions = 1

#
#   Prestigious.Unequip.Equipped
#        Description: Unequip any equipped items and mail them to the player.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Unequip.Equipped = 1


#
#   Prestigious.FlagItems
#        Description: Flags old items on prestige, making them unequippable until you reach max level.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.FlagItems = 1

#
#   Prestigious.ResetActionbar
#        Description: Resets the players actionbar when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.ResetActionbar = 1

#
#   Prestigious.ResetSkills.Weapons
#        Description: Resets the players weapon skills when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.ResetSkills.Weapons = 1

#
#   Prestigious.ResetSkills.Defense
#        Description: Resets the players defense skills when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.ResetSkills.Defense = 1

#
#	Prestigious.Reward.Multiplier.Base
#		Description: This is the base multiplier which is multiplied by the database multipliers.
#		Type:		 Float
#		Default:     1
#

Prestigious.Reward.Multiplier.Base = 1

#
#	Prestigious.Reward.Multiplier.Base.DeathKnight
#		Description: This allows you to control DeathKnight shortcutting.
#		Note: This is a separate base multiplier for deathknights.
#		Type:		 Float
#		Default:     0.5
#

Prestigious.Reward.Multiplier.Base.DeathKnight = 0.5

#
#   Prestigious.Reward.Mail.Title
#        Description: This controls the title for the mail that is received for rewards.
#

Prestigious.Reward.Mail.Title = "Prestige Reward"

#
#   Prestigious.Reward.Mail.Body
#        Description: This controls the body for the mail that is received for rewards.
#

Prestigious.Reward.Mail.Body = "You have been rewarded for prestiging."

#
#   Prestigious.Announcement
#        Description: Announces player prestige to the server.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Announcement = 1