#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Prestigious Configuration
########################################
#
#    Prestigious.Enable
#        Description: Enable/disable the prestigious module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Enable = 0

#
#   Prestigious.Delete.Equipped
#        Description: Deletes equipped items when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Delete.Equipped = 1

#
#   Prestigious.Delete.Equipped.Reward
#        Description: Enable/disable rewards for deleting equipped items.
#	 Note: Rewards scale based off average itemlevel of equipment.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Delete.Equipped.Reward = 1

#
#   Prestigious.Delete.Inventory
#        Description: Deletes inventory items when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Delete.Inventory = 1

#
#   Prestigious.Delete.Inventory.Bags
#        Description: Deletes inventory bag items when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Delete.Inventory.Bags = 1

#
#   Prestigious.Delete.BuyBack
#        Description: Deletes items from the vendor buyback tab when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Delete.BuyBack = 1

#
#   Prestigious.Delete.KeyRing
#        Description: Deletes items from the key ring when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Delete.KeyRing = 1

#
#   Prestigious.Delete.Bank
#        Description: Deletes items from the bank when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Delete.Bank = 1

#
#   Prestigious.Delete.Bank.Bags
#        Description: Deletes items from the bank bags when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Delete.Bank.Bags = 1

#
#   Prestigious.Unlearn.Professions
#        Description: Unlearns profession spells when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Unlearn.Professions = 1

