#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Prestigious Configuration
########################################
#
#    Prestigious.Enable
#        Description: Enable/disable the prestigious module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Enable = 0

#
#    Prestigious.Debug
#        Description: Enable debug messages in console.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Debug = 0

#
#   Prestigious.Unlearn.Professions
#        Description: Unlearns profession spells when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Unlearn.Professions = 1

#
#   Prestigious.Unlearn.Mounts
#        Description: Unlearns mounts when prestiging.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestigious.Unlearn.Mounts = 0

#
#   Prestigious.FlagItems
#        Description: Flags old items on prestige, making them unequippable until you reach max level.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.FlagItems = 1

#
#   Prestigious.ResetActionbar
#        Description: Resets the players actionbar when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.ResetActionbar = 1

#
#   Prestigious.ResetSkills
#        Description: Resets the players skills to 1 when prestiging.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.ResetSkills = 1

#
#	Prestigious.Reward.Multiplier.Base
#		Description: This is the base multiplier which is multiplied by the database multipliers.
#		Type:		 Float
#		Default:     1
#

Prestigious.Reward.Multiplier.Base = 1

#
#	Prestigious.Reward.Multiplier.Base.DeathKnight
#		Description: This allows you to control DeathKnight shortcutting.
#		Note: This is a separate base multiplier for deathknights.
#		Type:		 Float
#		Default:     0.5
#

Prestigious.Reward.Multiplier.Base.DeathKnight = 0.5

#
#   Prestigious.Reward.Mail.Title
#        Description: This controls the title for the mail that is received for rewards.
#

Prestigious.Reward.Mail.Title = "Prestige Reward"

#
#   Prestigious.Reward.Mail.Body
#        Description: This controls the body for the mail that is received for rewards.
#

Prestigious.Reward.Mail.Body = "You have been rewarded for prestiging."

#
#   Prestigious.Announcement
#        Description: Announces player prestige to the server.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestigious.Announcement = 1